.hackathonDetail {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1a1a1a;
    .hero {
        position: relative;
        height: 50vh;
        color: white;

        img{
            filter: brightness(30%);
        }

        .heroContent {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            h1 {
                font-weight: normal;
                font-size: 5rem;
                margin-bottom: 1rem;
                filter: drop-shadow(0px 5px 8px rgba(245, 245, 245, 0.671));
            }

            p {
                font-stretch: expanded;
                font-size: 1.3rem;
            }
        }
    }

    .content {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin: 0 auto;
        padding: 2rem;
        max-width: 1500px;
        width: 100%;

        .aboutMeetup {
            width: 50%;
            text-align: start;
            margin-bottom: 2rem;

            h2 {
                color: #00ACB4;
                font-size: 1.2rem;
                font-weight: lighter;
                margin-bottom: 0.5rem;
            }

            h3 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            p {
                line-height: 1.8rem;
                margin-bottom: 1rem;
            }

            .learnMore {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background-color: transparent;
                color: #fff;
                border: 2px solid #F15A22;
                border-radius: 4px;
                padding: 0.5rem 1rem;
                cursor: pointer;
                transition: all 0.3s ease;

                label{
                    img{
                    width: 16px;
                    height: auto;
                    }
                }

                &:hover{
                    color: white;
                    background-color: #F15A22;
                }
            }
        }

        .countdown {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;

            .countdownItem {
                text-align: center;
                margin: 0 1rem;

                span {
                    font-size: 2rem;
                    font-weight: bold;
                }

                p {
                    font-size: 1rem;
                }
            }
        }

        .imageGrid {
            display: flex;
            border-radius: 4px;
            max-width: 700px;
            width: 100%;


          img{
           width: 100%;
          }
        }

        .officialLink {
            display: block;
            text-align: center;
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }
    }
}

@media (max-width: 480px){
    .content{
        flex-direction: column;
        align-items: center;
    }
}