$primary-color: #00ACB4;
$secondary-color: #F15A22;
$background-color: #1a1a1a;
$box-background: #111111;
$text-color: #ffffff;
$light-background: #2c2c2c;
$gradient-light: linear-gradient(144deg, #F15A22, rgba(91, 66, 243, 0.15) 50%, #00ACB4); 
$shadow-color: rgba($primary-color, 0.7);

.ourWork {
  padding: 0rem 3rem 5rem 3rem;
  background-color: #1a1a1a;
  color: $text-color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px 0;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.workBox {
  background-color: $box-background;
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $text-color;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: $box-background;

  &::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 30%;
    top: 20%;
    left: -10%;
    background: $gradient-light;
    filter: blur(40px);
    pointer-events: none;
    animation: floating-light 2s infinite ease-in-out;
  }

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px $shadow-color;
  }
}

.icon {
  width: 120px;
  height: 120px;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 1.8rem;
  color: $secondary-color;
  margin: 0;
}

@keyframes floating-light {
  0% {
    transform: rotate(-5deg) translateY(-5%);
    opacity: 0.5;
  }

  50% {
    transform: rotate(5deg) translateY(5%);
    opacity: 1;
  }

  100% {
    transform: rotate(-5deg) translateY(-5%);
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .ourWork {
    padding: 3rem 1.5rem;
  }

  .sectionTitle {
    font-size: 2rem;
  }

  .gridContainer {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .title {
    font-size: 1.5rem;
  }
}
