.nav-item a,
.nav-item1 a,
.nav-item2 a,
.nav-item3 a,
.nav-item4 a {
  text-decoration: none;
  color: rgb(249, 252, 254); /* Change this to your desired text color */
}
.nav-item a:hover,
.nav-item1 a:hover,
.nav-item2 a:hover,
.nav-item3 a:hover,
.nav-item4 a:hover {
  color: #3dd3f0; /* Change this to your desired text color on hover */
}

.nav-item.active a,
.nav-item1.active a,
.nav-item2.active a,
.nav-item3.active a,
.nav-item4.active a {
  font-weight: bold; /* Change this or add other styling for active link */
}


.gr-logo-icon {
    height: 64px;
    width: 64px;
    object-fit: cover;
  }
  .home{    color: aliceblue;
    text-decoration: none;}
  .gr-logo-icon,
  .home,
  .underline {
    position: relative;
  }
  .underline {
    align-self: stretch;
    height: 3px;
    border-radius: var(--br-mini);
    background: linear-gradient(90deg, #f15a22, #00acb4);
  }
  .nav-item {
    width: 62px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
  }
  .home1,
  .underline {
    position: relative;
  }

  .nav-item1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home2,
  .underline {
    position: relative;
  }

  .nav-item2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home3,
  .underline {
    position: relative;
  }

  .nav-item-parent,
  .nav-item3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .nav-item-parent {
    align-self: stretch;
    flex-direction: row;
    gap: 0 32px;
    color: aliceblue;
    justify-content: flex-end;
  }
  .navbar6,
  .parent-frame {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .parent-frame {
    width: 451px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-mid) 0 0;
    box-sizing: border-box;
  }
  .navbar6 {
    align-items: center;
    width: 80%;
    margin: auto;
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    flex-shrink: 0;
    z-index: 2;
    text-align: left;
    font-size: var(--h6-desktop-size);
    color: var(--color-white);
    font-family: var(--h2-desktop);
    padding: 10px;
  }
  .burger-menu {
    position: absolute;
    right: 10px;
    display: none; /* Hide burger menu by default on larger screens */
    cursor: pointer;
  }
  
  .burger-menu .burger-line {
    width: 25px;
    height: 3px;
    background-color: #fbf9f9;
    margin: 4px 0;
  }

  .side-drawer {
    position: absolute;
    z-index: 10;
    top: -100%;
    right: 0;
    /* width: 100%; */
    /* height: 100%; */
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: top 0.3s ease;
    border-radius: 20px;
  
  background: 
    linear-gradient( rgb(16, 15, 15), rgb(10, 10, 10)), /* main background */
    linear-gradient( rgba(241, 90, 34, 1), rgba(0, 172, 180, 1)) border-box,
    linear-gradient(rgba(241, 90, 34, 1), rgba(0, 172, 180, 1)) border-box;
  background-origin: border-box;
  background-clip: content-box, border-box, border-box;
  border: 4px solid transparent;
  }
  
  .side-drawer.open {
    top: 4rem; 
  }
  
  .side-drawer-content {
    padding: 20px;    padding: 20px;
    text-align: center;
    font-size: 15px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    
  }
  
  .side-drawer-content a {
    display: block;
    padding: 10px 0;
    color: #fbf6f6;
    text-decoration: none;
  }
  
  .side-drawer-content a:hover {
    color: #34e6f7;
  }

@media screen and (max-width:553px){
  .nav-item-parent{
    gap: 0 16px;
  }
  .navbar6{
    width: auto;
  }

}
  @media screen and (max-width: 480px) {
    .burger-menu {
      display: block;
      visibility: visible;
    }
  
    .nav-items {
      display: none; /* Hide navigation links by default on smaller screens */
    }
    .navbar6{
      width: auto;
    }
    .nav-item3{
      display: none;
    }
    .nav-item2{
      display: none;
    }
    .nav-item1{
      display: none;
    }
    .nav-item4{
      display: none;
    }
    
  }
 
  