.space{
   margin: 4rem auto;
   display: flex;
    justify-content: space-around;
    align-items: center;
}
.para{
   max-width: 30%;
}
.head{
   font-family: Gilroy-UltraLight;
   font-size: 4rem;
}
.overall{
   padding: 1rem;
   width: 80%;
}
.aboutSection{
   margin:1rem auto;
   justify-content: center;
   display: flex;
}
.sphere{
   width: 100px;
   height: 100px;
   
   border-radius: 50%;
}

@media screen and (max-width: 992px){
   .aboutSection{
      margin:2rem auto;
   }
   .para{
      max-width: 70%;
      margin: auto;
   }
   .space{
      display:block;
   }
   .overall{
      
      position: relative;
   }
   .head{
      font-size: 3rem;
      position: absolute;
   }
   .h1{
   }
   .h2{
      top: 180px;
      left: 20rem;
   }
   .h3{
      top: 240px;
   }
   .h4{
      top: 240px;
      left: 21rem;
   }
   .para1{
      margin-top: 8rem ;
   }
}

@media screen and (max-width: 731px){
   .overall{
      width: 100%;
   }
}

@media screen and (max-width: 546px){
   .head{
      font-size: 2rem;
   }
   .h2{
      left: 10rem;

   }
   .h4{
      left: 11rem;
   }
   .para{
      max-width: 90%;
      font-size: smaller;
   }
   
}