
  
  .carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
  }
  
  .slides-container {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  /* Ensure the images fit properly */
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  