/* Group 3 */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap");

p {
  margin: 0;
}

.group-3 {
  background-color: rgb(255, 255, 255, 0.15);
  border-radius: 16px;
  position: relative;
  width: 70%;
  height: 345px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contact-form {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 113.5px rgba(0, 0, 0, 0.5);
}
.group-892 {
  width: 336px;
  height: 100%;
  padding: 118px 77px 137px;
  /* border-top-right-radius: 16px; */
  /* border-bottom-right-radius: 16px; */
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}
.ask-aquestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-size: 45px;
  line-height: 45px;
  font-family: Inter, sans-serif;
  font-weight: 200;
  text-align: center;
}

.contact-form-details {
  position: absolute;
  top: 32px;
  left: 41px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 36px;
  width: 40%;
  height: 208px;
  box-sizing: border-box;
}
.section-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.about-us {
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  line-height: 32px;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.frame-141 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  box-sizing: border-box;
}
.frame-13 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
  width: fit-content;
  box-sizing: border-box;
}
.frame-10 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  height: 100%;
  box-sizing: border-box;
}
.info {
  color: rgb(225, 220, 220);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(160, 160, 160, 1);
  font-size: 16px;
  line-height: 16px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  width: 100%;
}

.info::placeholder {
  color: rgb(193, 191, 191);
}

.frame-11 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  height: 100%;
  box-sizing: border-box;
}
.frame-12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  box-sizing: border-box;
}
.frame-14 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  box-sizing: border-box;
}
.frame {
  position: absolute;
  top: 272px;
  left: 41px;
  width: 133px;
  height: 41px;
}

.submit {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 16px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 4px;
  /* height: 50px !important;
   */
  padding: 12px 34px;
}
.info:focus {
  outline: none;
}
.invalid:focus {
  border: 2px solid red;
  border-radius: 4px;
}

@media screen and (max-width: 870px) {
  .group-892 {
    display: none;
  }
  .group-3{
    width: 70%;
  }
  .contact-form-details{
    width: 80%;
  }
  .info{
    font-size: 10px;
  }
}

@media screen and (max-width: 480px){
  .group-3{
    width: 90%;
  }
  .about-us{
    font-size: 25px;
  }
  .contact-form-details{
    position: initial;
    margin: 2rem auto;
  }
  .frame-13{
    gap: 20px;
  }
  .sphere1{
    display: none;
  }
  .sphere2{
    display: none;

  }
} 
