/* Display heading */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

p {
  margin: 0;
}
.framecontainer{
  width: 100%;
  /* background-color: aliceblue; */
  height: auto;
  display: flex;
  align-items: center;
  margin: 10rem auto;  justify-content: center;
}

.display-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* width: 40%; */
  /* height: 204px; */
  box-sizing: border-box;
  margin: auto;
  align-items: center;
}
.geek-room {
    color: rgba(255, 255, 255, 1);
    font-size: 100px;
    line-height: 90px;
    font-family: Gilroy-UltraLight;
    /* font-weight: 400; */
    letter-spacing: -2.56px;
    margin: auto;
}

.display-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-size: 35px;
  line-height: 45px;
  font-family: Inter, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-top: 1rem;
}
.xx{
    margin:3rem;
}


.nav-frame-icon {
  margin: 0 !important;
  position: absolute;
}
.nav-frame-icon {
  height: 248px;
  width: 515px;
  top: 108px;
  right: -125px;
  overflow: hidden;
  flex-shrink: 0;
}

.active-members-feature {
  width: 467px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: calc(100% - 486px);
}
.ellipse-shape-icon {
    height: 400px;
    width: 400px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    /* max-width: calc(100% - 487px); */
    border: 2px solid white;
    margin: 40px auto;
}
.features-frame,
.text-w-image-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.text-w-image-container {
    height: 457px;
    align-items: center;
  flex: 1;
  justify-content: space-between;
  padding: var(--padding-261xl-5) 0 var(--padding-111xl-5);
  box-sizing: border-box;
  gap: var(--gap-xl);
  z-index: 2;
}
.features-frame {
  align-self: stretch;
  justify-content: flex-start;
  position: relative;
}
.frame-set-icon {
  height: 248px;
  width: 473px;
  position: absolute;
  margin: 0 !important;
  bottom: -149px;
  left: -234px;
  overflow: hidden;
  flex-shrink: 0;
}
.k {
  margin: 1rem;
    font-size: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-members {
  flex: 1;
  position: relative;
  font-size: var(--h6-desktop-size);
  text-align: left;
}
.feature {
  /* width: 260px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.feature-divider-icon {
      /* align-self: stretch; */
      width: 2px;
      position: relative;
      height: 4rem;
      object-fit: contain;
      /* min-height: 109px; */
      background-color:rgba(241, 90, 34, 1);
}
.feature-divider-icon1 {
  /* align-self: stretch; */
  width: 2px;
  position: relative;
  height: 4rem;
  object-fit: contain;
  /* min-height: 109px; */
  background-color:  rgba(0, 172, 180, 1);
}
.b {
  margin: 1rem;
    font-size: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.events,
.organized {
  margin: 0;
}
.events-organized {
  position: relative;
  font-size: var(--h6-desktop-size);
  text-align: left;
}
.feature1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-base);
}

.b1 {
  margin: 1rem;
    font-size: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.members,
.team {
  margin: 0;
}
.team-members {
  position: relative;
  text-align: left;
  font-size: 1.2rem;
}
.feature2 {
  /* width: 226px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.features,
.features-pill {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.features {
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.features-pill {
  
  
  box-sizing: border-box;
  
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  /* padding: 30px 80px; */
  border-radius: 244px;
  position: relative;
  background: 
    linear-gradient(to right, rgb(16, 15, 15), rgb(10, 10, 10)), /* main background */
    linear-gradient(to right, rgba(241, 90, 34, 1), rgba(0, 172, 180, 1)) border-box,
    linear-gradient(to right,rgba(241, 90, 34, 1), rgba(0, 172, 180, 1)) border-box;
  background-origin: border-box;
  background-clip: content-box, border-box, border-box;
  border: 4px solid transparent;
}
/* .features-pill{
  ::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(to right, rgba(241, 90, 34, 1), rgba(0, 172, 180, 1));
    content: '';
    z-index: -1;
    border-radius: 244px;
}
} */
.section-title {
  width: 1194px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 70%;
  height: 5rem;
   margin: auto;
}
/* .about-us-section2,
.dark-background {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
} */
.about-us-section2 {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--h4-desktop-size);
  font-family: var(--h2-desktop);
  margin: 2rem auto;
  
}
.dark-background {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-53xl);
  /* min-height: 600px; */
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-109xl);
  color: var(--color-white);
  font-family: var(--font-gilroy-ultralight);
}
@media screen and (max-width: 1050px) {
  .geek-room {
    font-size: 6rem;
  }
  .display-text {
    font-size: 1.5rem;
  }
  .text-w-image-container {
    padding-top: var(--padding-163xl);
    padding-bottom: var(--padding-66xl);
    box-sizing: border-box;
  }
  .display-heading{
    /* margin:0 */
    
  }
  .ellipse-shape-icon{
    width: 300px;
    height: 300px;
  }
  .b,
  .b1,
  .k {
    font-size: var(--font-size-17xl);
  }
  .features {
    flex-wrap: wrap;
  }
  
  .section-title{
    width: 95%;
  }
  .about-us-section2{
    margin: 20px auto;
  }
  
}
@media screen and (max-width: 794px) {
  .text-w-image-container{
    /* height: fit-content; */
  }
  .active-members-feature {
    max-width: 100%;
  }
  .ellipse-shape-icon {
    margin :20px auto;
    width:250px;
    height: 250px;;
  }
  .dark-background {
    gap: 36px 72px;
  }
  .display-heading{
    width: auto;
  }
  .geek-room {
    font-size: 4rem;
    /* width: min-content; */
    line-height: 70px;
  }
  .display-text {
    font-size: 1 rem;
  }

  
}
@media screen and (max-width: 554px){
  .features{
    width: 100%;
  }
  
  .sphere1{
    width: 100px;
    height: 100px;
    filter: blur(80px);
    background-color: rgba(241, 90, 34, 1);
    bottom: 70%;
  }
  .sphere2{
    width: 150px;
    height: 150px;
    filter: blur(80px);
    background-color: rgba(0, 172, 180, 1);
  }
  
}
@media screen and (max-width: 480px) {
  .parent-frame{
    visibility: hidden;
  }
  .geek-room {
    font-size: 3rem;
    line-height: normal;
}

  .display-text {
    font-size: var(--font-size-8xl);
  }
  .text-w-image-container {
    padding-top: var(--padding-99xl);
    padding-bottom: var(--padding-36xl);
    box-sizing: border-box;
  }
  .section-title{
    height: auto;
    justify-content: center;
  }
  .features-pill{
    justify-content: normal;
    border-radius: 50px;
    margin: 10px;
    /* width: 60%; */
  }
  .feature,.feature1.feature2{
    justify-content: center;
  }
  
  .framecontainer{
    margin: 5rem auto;

  }
}
@media screen and (max-width: 480px){
  .features-frame{
    display: block;
  }
 
.geek-room{
  /* font-size: 1.5rem; */
line-height: normal;
margin: auto;
width: max-content;letter-spacing: normal;
}
.display-text{
  /* font-size: 1rem; */
  line-height: normal;
  text-align: center;
  width: max-content;
  margin: auto;
}
.feature{
  width: 30%;
  display: block;
}
.k{
  margin: 0%;
  font-size: 1rem;
}
.section-title{
  width: 90%;
}
.team-members{
  font-size: 0.7rem;
  text-align: center;
}
.features{
  margin: 10px;
}

}