.increasing-number {
    font-size: 24px; /* Adjust font size as needed */
    color: #333; /* Adjust text color */
    font-weight: bold; /* Adjust font weight as needed */
    animation: increaseNumber 1s infinite; /* Animation for increasing number */
  }
  
  @keyframes increaseNumber {
    from {
      transform: scale(1); /* Start scale */
    }
    to {
      transform: scale(1.2); /* End scale */
    }
  }
  